body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #ffe600, #f7f7aa);
}

/*Caixa de Login*/
.login-box {
  background-color: white;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}

/*Container central*/
.login-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Estilo do título*/
.login-box h2 {
  margin-bottom: 25px;
  color: #666;
  text-align: center;
}

/*Estilo do text*/
.login-box p {
  font-size: 16.5px;
  margin-bottom: 25px;
  color: #666;
}

.link {
  margin-top: 15px;
  margin-left: 6px;
  color: #3483fa;
  text-decoration: none;
  font-weight: 800;
  height: 10px;
}

.novousuario {
  text-align: center;
  justify-content: center;
  display: flex;
}

.novousuario p {
  margin-top: 15px;
  margin-bottom: 0px;
  color: #666;
}
